body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.home-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.controls {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #555;
}

.invalid-feedback {
  color: #f00;
  font-size: 12px;
  margin-top: 5px;
}

/* Style for the "Save" button */
.btn1 {
  background-color: #172fca; /* Green background color */
  border: none; /* Remove button border */
  color: white; /* Text color */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button a block element */
  font-size: 16px; /* Set font size */
  margin-left: 200px; /* Add some space to the right of the button */
  width:50%;
}

/* Style for the "Cancel" button */
.btn2 {
  background-color: #34a6ec; /* Red background color */
  border: none; /* Remove button border */
  color: white; /* Text color */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button a block element */
  font-size: 16px; /* Set font size */
  margin-left : 10px;
  width: 50%;
}
.button-container {
  display: flex;
  justify-content: space-between; /* Add equal space between the two buttons */
  padding-inline: 5px;
}
