

  .as-card {
    width: 58%;
    background: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    height: 600px;
    margin-top: 1%;
    border-radius: 30px;
    padding: 1%;
    margin-left: 22%;
    display: inline-block;
    margin-right: 10px;
}

div.as-card h2{
  color: darkblue;
text-align: center;
}

form {
  margin: 5px auto;
  width: 580px;
  padding: 20px;
  background-color: #e6e5f2;
  border-radius: 20px;
  margin-top: 3px;
  
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

input[type="text"] {
  width: 60px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

select {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"], input[type="reset"] {
  width: 36%;
  padding: 6px;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 8%;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #3b5998;
  color: white;
  cursor: pointer;
}

input[type="reset"] {
  background-color: #ddd;
  color: black;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #0b3e91;
}
