.view-link{
    background-color: rgb(43, 43, 149);
    color: white;
    width:40%;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 75%;
    margin-top: 20px;
    margin-left: 80px;
}

.download-link{
    background-color: rgb(91, 91, 247);
    color: white;
    width:40%;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 75%;
    margin-top: 20px;
    margin-left: 80px;
}

.card {
    width: 350px;
    height: 620px;
    margin: 20px;
    text-align: center;
    border: 1px solid rgb(10, 9, 98);
    background-color: white;
    margin-left: 4%;
  }