.card-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .card {
    width: 350px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 15px;
  }
  
  .card-header {
    background-color: #dddce7;
    color:black;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 20px;
  }

  .view-btn{
    
    margin-left: 150px;
    padding: 8px 10px;
    background-color: rgb(8, 21, 65);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  u{
    color: red;
  }
  
  .ccard {
    width: 350px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 15px;
  }

  .remove-btn{
    
    margin-left: 150px;
    padding: 6px 7px;
    background-color: white;
    color: rgb(226, 52, 52);
    border-width: 4px;
    border-radius: 8px;
    cursor: pointer;
    max-width: max-content;
    margin-bottom: 5%;
    border-color:rgb(216, 31, 31) ;
  }
