

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 1%;
  margin-top: 1.7%;
  transform: translate(-50%,-50%);
  width: 750px;
  height: 500px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 50%;
  background: linear-gradient(to right,#8196ae,#c7d4ed);
  padding: 30px 25px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  color: #08122e;
  font-size: 24px;
}

.wrapper .left img{
  border-radius: 12px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 15px;
}

.wrapper .right{
  width: 100%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h2,
.wrapper .right .projects h2{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 100%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul{
  display: flex;
}

.edit , .delete{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    width: 50%;

}

.edit{
    background-color: rgb(23, 54, 101);
    color: white;
    margin-left: 80%;
    
}

.delete{
    background-color: rgb(139, 173, 218);
    color: white;
    margin-left: 45%;

}



/*.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  margin-right: 10px;
  border-radius: 1px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}*/